<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myapp.dao.ITeam2Repository">

	<insert id="createTeam" parameterType="com.example.myapp.model.Team2VO">
		<![CDATA[
			INSERT INTO TEAM2
				(teamno, teamname, teamage)
			VALUES
				(teamno, teamname, teamage)
		]]>
	</insert>
	
	<select id="selectAllTeam" resultType="com.example.myapp.model.Team2VO">
		<![CDATA[
			SELECT
				teamno, teamname, teamage
			FROM TEAM2	
		]]>
		</select>
	
	<delete id="deleteTeam" parameterType="Integer">
	<![CDATA[
		DELETE FROM TEAM2
		WHERE teamno=#{teamno}
	]]>
	</delete>
	
	<update id="updateTeam" parameterType="com.example.myapp.model.Team2VO">
	<![CDATA[
		UPDATE
			TEAM2
		SET
			teamname = #{teamname}, teamage = #{teamage}
		WHERE
			teamno = #{teamno}
	]]>
	</update>
</mapper>