<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/create" method="get" enctype="multipart/form-data" class="form-horizontal">
	    <table class="table table-hover table-bordered">
		<tr th:each="team : ${teamList}">
			<td th:text="${team.teamno}">TeamNo</td>
			<td class="pc" th:text="${team.teamname}">TeamName</td>
			<td class="pc" th:text="${team.teamage}">TeamAge</td>
		</tr>
		</table>
	</form>
	<form action="/create" method="post" enctype="multipart/form-data" class="form-horizontal">
	 <label class="control-label col-sm-2" for="name">TeamNo</label>
      <div class="col-sm-2">
        <input type="text" name="teamno" id="teamno" class="form-control">
      </div>
     <label class="control-label col-sm-2" for="name">TeamName</label>
      <div class="col-sm-2">
        <input type="text" name="teamname" id="teamname" class="form-control">
      </div>
     <label class="control-label col-sm-2" for="name">TeamAge</label>
      <div class="col-sm-2">
        <input type="text" name="teamage" id="teamage" class="form-control">
      </div>
    <div class="col-sm-offset-2 col-sm-8">
			<input type="submit" id="i_submit" class="btn btn-info" value="SAVE">
			
			
			
			
	</div>
	</form>
	
	<form action="/delete" method="get"></form>
	<a th:href="@{/delete}">
	<!-- <button type="button" class="delete_board" onclick="deleteTeam()">DELETE</button> -->
	<input type="submit" id="i_submit" class="btn btn-info" value="DELETE">
	
	
	</a>
<script>
	function deleteTeam()
		
		
	
</script>
	
</body>



</html>